* {
    font-family: 'Bahnschrift', 'KodchiangUPC';
}

.title {
    background-color: #9fdcff;
    height: inherit 200px;
    text-align: center;
}

nav {
	background-color: #61a927;
    height: 30px;
    text-align: center;
    align-content: center;
    padding: 0.5%;
    filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.4));
}

nav a {
    font-size: 125%;
    color: white;
    margin: 5%;
    text-decoration: none;
}

a:hover {
    color: blue
}